p {
    font-size: 20px;
    font-family: 'Cabin Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Cabin Condensed', sans-serif;
    /* font-family: 'Charmonman', cursive; */
}

.index {
    display: inline-block;
    color: #e40c78;
    font-weight: 800;
    margin-left: -2rem;
    width: 33px; 
}


#all_recipes {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    display: flex;
    margin: 20px;
    font-family: sans-serif;
}

.thumbnail{
    /* position: absolute; */
    max-height: 200px; 
    object-fit: contain; 
    overflow: hidden; 
    /* transform-origin: 50% 50%; 
    transition: .2s ease-in-out; */
}

/* .thumbnail:hover{
    transform: scale(1.05);

} */

.overall-display {
    margin-top: 30px;
    margin-bottom: 30px;
}

#description_display{
    margin-top: 10px;
    margin-bottom: 15px;
}

#ingredients_display{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
}

#directions_display{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
}

.button {
    margin: 15px;
}

#share_recipe{
    margin-top: 40px;
    margin-bottom: 20px;
}

#base-footer {
    background-color: rgba(191, 36, 49, 1); 
    margin-top: 50px; 
    color: white;
   
}

#subscribe {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-copyright {
    font-family: 'Cabin Condensed', sans-serif;
}

.footer-links {
    color: white;
}
