.index {
    display: inline-block;
    color: #e40c78;
    font-weight: 800;
    margin-left: -2rem;
    width: 33px; 

}


#all_recipes {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    display: flex;
    margin: 20px;
    font-family: sans-serif;
}

.overall-display {
    margin-top: 30px;
    margin-bottom: 30px;
}

#ingredients_display{
    margin-top: 40px;
}

#base-footer {
    background-color: rgba(191, 36, 49, 1); 
    margin-top: 50px; 
    color: white;
}

.footer-links {
    color: white;
}
