{% extends 'base.template.html' %}

{%block content %}
<form method="POST">
    <div>
        <label class="form-label">Recipe Name</label>
        <input type="text" class="form-control" name="recipe_name"/>
    </div>
    <div>
        <label class="form-label">Description</label>
        <input type="text" class="form-control" name="description"/>
    </div>
    <div>
        <label class="form-label">Servings</label>
        <input type="text" class="form-control" name="servings"/>
    </div>
    <div>
        <label class="form-label">Ingredients</label>
        <input type="text" class="form-control" name="ingredients"/>
    </div>
    <div>
        <label class="form-label">Directions</label>
        <input type="text" class="form-control" name="directions"/>
    </div>
    <div>
        <label class="form-label">Cuisine</label>
        <input type="text" class="form-control" name="cuisine"/>
    </div>
    <div>
        <label class="form-label">Meal Type</label>
        <input type="text" class="form-control" name="meal_type"/>
    </div>
    <div>
        <label class="form-label">Media</label>
        <input type="text" class="form-control" name="media"/>
    </div>
    <div>
        <label class="form-label">Contributor Name</label>
        <input type="text" class="form-control" name="contributor"/>
    </div>
    <div>
        <label class="form-label">Contributor Email</label>
        <input type="text" class="form-control" name="email"/>
    </div>
    <input type="submit" class="btn btn-primary"/>
</form>

<select id="ingredients" name="ingredientlist" form="ingredientform">
    {%for each_ingredient in all_ingredients %} 
    <option value="{{each_ingredient.name}}">{{each_ingredient.name}}</option> 

    {%endfor%}
</select>

{%endblock%}


