{% extends 'base.template.html' %}

{%block content %}
<form method="POST">
    <div>
        <label class="form-label">Recipe Name</label>
        <input type="text" class="form-control" name="recipe_name"/>
    </div>
    <div>
        <label class="form-label">Description</label>
        <input type="text" class="form-control" name="description"/>
    </div>
    <div>
        <label class="form-label">Servings</label>
        <input type="number" class="form-control" name="servings"/>
    </div>
    <div>
        <label class="form-label">Ingredients</label>
        <input type="text" class="form-control" name="ingredients"/>
    </div>
    <div>
        <label class="form-label">Directions</label>
        <input type="text" class="form-control" name="directions"/>
    </div>

    <!-- <select id="cuisine" name="cuisinelist" form="cuisineform">
        <option value="chinese">Chinese</option> 
        <option value="western">Western</option> 
        <option value="hainanese">Hainanese</option> 
    </select> -->
    <input type="checkbox" id="cuisine1" name="cuisine1" value="chinese">
    <label for="cuisine1"> Chinese</label><br>
    <input type="checkbox" id="cuisine2" name="cuisine2" value="western">
    <label for="cuisine2"> Western</label><br>
    <input type="checkbox" id="cuisine3" name="cuisine3" value="hainanese">
    <label for="cuisine3"> Hainanese</label>
    <br> 
    <select id="mealtype" name="mealtype" form="mealtype">
        <option value="breakfast">Breakfast</option> 
        <option value="maincourse">Main Course</option> 
        <option value="soup">Soup</option> 
        <option value="dessert">Dessert</option> 
        <option value="festive">Festive</option> 
    </select>
    <br>

    <div>
        <label class="form-label">Media URL</label>
        <input type="text" class="form-control" name="media"/>
    </div>
    <div>
        <label class="form-label">Contributor Name</label>
        <input type="text" class="form-control" name="contributor"/>
    </div>
    <div>
        <label class="form-label">Contributor Email</label>
        <input type="text" class="form-control" name="email"/>
    </div>

    <input type="submit" class="btn btn-primary"/>
</form>

{%endblock%}


