{% extends 'base.template.html' %}

{%block content %}
<form method="POST">
    <div>
        <label class="form-label">Recipe Name</label>
        <input type="text" class="form-control" name="recipe_name" value="{{recipe.name}}"/>
    </div>
    <div class="form-group">
        <label for="descriptiontextarea">Description</label>
        <textarea class="form-control" id="descriptiontextarea" name="description" rows="3" value="{{recipe.description}}">{{recipe.description}}</textarea>
    </div>
    <div>
        <label class="form-label">Servings</label>
        <input type="number" class="form-control" name="servings" value="{{recipe.servings}}"/>
    </div>
    <div class="form-group">
        <label for="ingredientstextarea">Ingredients</label>
        <h6>Put a semicolon ';' after each measured ingredient, for e.g. 1 tbsp of salt; 1 tsp soy sauce; 1 whole tomato</h6>

        <textarea class="form-control" id="ingredientstextarea" name="ingredients" rows="5">{% for ingredient in recipe.ingredients %}{{ingredient}}; {% endfor %}</textarea>
    </div>

    <div class="form-group">
        <label for="directionstextarea">Directions</label>
        <h6>Put a semicolon ';' after each step, for e.g. Cut into slices; Soak in water for 10 minutes; Preheat oven</h6>
        
        <textarea class="form-control" id="directionstextarea" name="directions" rows="5">{% for direction in recipe.directions %}{{direction}}; {% endfor %}</textarea>
        
    </div>

    <h3>Cuisine</h3> 
    <select name="cuisine" id="cuisine" multiple>
        {% if 'chinese' in recipe.cuisine %}
            <option value="chinese" selected>Chinese</option>
        {% else %}
            <option value="chinese">Chinese</option>
        {% endif %}
        {% if 'western' in recipe.cuisine %}
            <option value="western" selected>Western</option>
        {% else %}
            <option value="western">Western</option>
        {% endif %}
        {% if 'hainanese' in recipe.cuisine %}
            <option value="hainanese" selected>Hainanese</option>
        {% else %}
            <option value="hainanese">Hainanese</option>
        {% endif %}
    </select>
    <br> 
    <select id="meal_type" name="meal_type">
        {% if recipe.meal_type == 'breakfast' %}
            <option value="breakfast" selected>Breakfast</option> 
        {% else %}
            <option value="breakfast">Breakfast</option> 
        {% endif %}
        {% if recipe.meal_type == 'maincourse' %}
            <option value="maincourse" selected>Main Course</option> 
        {% else %}
            <option value="maincourse">Main Course</option> 
        {% endif %}
        {% if recipe.meal_type == 'soup' %}
            <option value="soup" selected>Soup</option> 
        {% else %}
            <option value="soup">Soup</option> 
        {% endif %}
        {% if recipe.meal_type == 'dessert' %}
            <option value="dessert" selected>Dessert</option> 
        {% else %}
            <option value="dessert">Dessert</option> 
        {% endif %}
        {% if recipe.meal_type == 'festive' %}
            <option value="festive" selected>Festive</option> 
        {% else %}
            <option value="festive">Festive</option> 
        {% endif %}
    </select>
    <br>

    <div>
        <label class="form-label">YouTube Video URL</label>
        <p>Paste the <b>Embedded Youtube Link</b> found under Embed of the Share function, e.g. <i>https://www.youtube.com/embed/MO_Nh6Fc_0E</i></p>
        <input type="text" class="form-control" name="media" value="{{recipe.media}}"/>
    </div>

    <div>
        <label class="form-label">Image</label>
        <input type="text" class="form-control" name="image" value="{{recipe.image}}"/>
        <img src="{{recipe.image}}" alt="{{recipe.name}}" style="width:90px;height:60px;">
    </div>
    <br>
    <div>
        <a id="upload_widget" class="cloudinary-button">Upload Different Image</a>
        <input type="hidden" id="uploaded_file_url" name="uploaded_file_url"/>
        <br/>
        <p id="uploaded_file_display" style="display:none">Uploaded File Name:<span id="uploaded_file_name"></span></p>
    </div>       
    
    <div id="previewImg_div"></div>
    <br>
    <div>
        <label class="form-label">Contributor Name (This will not be displayed on the Recipe page)</label>
        <input type="text" class="form-control" name="contributor" value="{{recipe.contributor}}"/>
    </div>
    <div>
        <label class="form-label">Contributor Email </label>
        <input type="text" class="form-control" name="email" value="{{recipe.email}}"/>
    </div>
    <br>
    <input type="submit" class="btn btn-success"/>

    <a href="{{ url_for('show_recipe', recipe_id=recipe._id ) }}" class="btn btn-primary">Back to this Recipe</a>
</form>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script> 
    
<script type="text/javascript">  
    var myWidget = cloudinary.createUploadWidget({
        cloudName: "{{cloudName}}", 
        uploadPreset: "{{uploadPreset}}"}, 
        (error, result) => { 
            if (!error && result && result.event === "success") { 
                console.log('Done! Here is the image info: ', result.info); 
                let fileURL = document.querySelector('#uploaded_file_url');
                fileURL.value = result.info.url;

                // To show a preview of the image which is going to be uploaded 
                $('#previewImg_div').append(`<img src="${result.info.thumbnail_url}"/><br>`);

                let filenameDisplay = document.querySelector('#uploaded_file_display');

                // make it appear (by setting it to display: block)
                filenameDisplay.style.display = 'block';

                // fill in the file name
                let filenameDisplaySpan = document.querySelector("#uploaded_file_name");
                filenameDisplaySpan.innerText = result.info.original_filename;
            }
        }
    )
    
    document.getElementById("upload_widget").addEventListener("click", function(){
        myWidget.open();
    }, false);
</script>

{%endblock%}