{% extends 'base.template.html' %}

{%block content %}
{{recipe}}
<div class="container">
    <div class="row">
        <h1>{{recipe.name}}</h1>
    </div>
    <div class="row">
        {% if recipe.contributor == "Chef & Grandson" %}
        <h5>By Chef & Grandson</h5>
        {% endif %}
    </div>
    <div class="row" id="description_display">
        <p>{{recipe.description}}</p>
    </div>

    {% if recipe.media != "" %}
        <div class="row">
            <iframe class="embed-responsive-item" width="560" height="315" src="{{recipe.media}}" frameBorder="0" allowfullscreen></iframe>   
        </div>
    {% else %}
        <div class="row">
            <img src="{{recipe.image}}" style="width: 640px; height: 360px; object-fit: contain; overflow: hidden;" alt="{{recipe.name}}">
        </div>
    {% endif %}
    <br>
    <div class="row">
        <h4>For {{recipe.servings}} servings</h4>
    </div>
    <div class="row">
        <h3>Ingredients</h3>
        
        <ul id="ingredients_display" class="list-unstyled">
        {% for ingredient in recipe.ingredients %}
            <li><span class='index'>{{loop.index}}</span> {{ingredient}}</li>
        {% endfor %}
        </ul>
    </div>
    
    <div class="row">
        <h3> Directions</h3>
        
        <ul id="directions_display" class="list-unstyled">
        {% for direction in recipe.directions %}
            <li><span class='index'>{{loop.index}}</span> {{direction}}</li>
        {% endfor %}
        </ul>
    </div>
    <br>
    <div class="row">

        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id ) }}" class="btn btn-success button">Edit</a>

        <a href="{{ url_for('show_confirm_delete', recipe_id=recipe._id)}}" class="btn btn-danger button">Delete</a> 
        


        <a href="{{ url_for('show_recipes')}}" class="btn btn-primary button">Return to Recipes</a> 
    </div>
    
    <div id="share_recipe">
        <h3>Share your recipe</h3>

        <p>Would you like to share your own recipe? <a href="{{ url_for('show_create_recipes') }}"><strong>Submit your recipe here.</strong></a></p>
    </div>
</div>
{%endblock%}