{% extends 'base.template.html' %}

{%block content %}
{{recipe}}
    <h3>{{recipe.name}}</h3>

    <h3>Ingredients</h3>
    {% for ingredient in recipe.ingredients %}
    <p><span class='index'>{{loop.index}}</span>. {{ingredient}}</p>
    {% endfor %}

    <h3>Directions</h3>
    {% for direction in recipe.directions %}
    <p><span class='index'>{{loop.index}}</span>. {{direction}}</p>
    {% endfor %}

    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id ) }}" class="btn btn-success">Edit</a>

    <a href="{{ url_for('show_confirm_delete', recipe_id=recipe._id)}}" class="btn btn-danger">Delete</a> 


{%endblock%}