<table class="table">
    <thead>
        <tr>
            <th>Recipe Name</th>
            <th>Description</th>
            <th>Number of Servings</th>
            <th>Directions</th>
            <th>Cuisine Type</th>
            <th>Meal Type</th>
            <th>Media</th>
        </tr>
        {%for each_recipe in all_recipes %}
            <tr>
                <td>{{each_recipe.name}}</td> 
                <td>{{each_recipe.description}}</td>
                <td>{{each_recipe.servings}}</td>
                <td>
                    {% for direction in each_recipe.directions %}
                    <p>{{loop.index}}. {{direction}}</p>
                    {% endfor %}
                </td>
                <td>{{each_recipe.cuisine}}</td>
                <td>{{each_recipe.meal_type}}</td>
                <td>{{each_recipe.media}}</td>
                <td>
                   
                </td>
            </tr>
        {%endfor%}
    </thead>
</table>