{% extends 'base.template.html' %}

{%block content %}
<form method="POST">
	<div class="row">
		<div class="col">
			<label>Recipe Name</label>
			<input type="text" class="form-control" name="name"/>
        </div>
    </div>
    <div class="row">
        <h5>Cuisine</h5>
        <p>Please press SHIFT key to select multiple options</p>
        <select name="cuisine" id="cuisine" multiple>
            <option value="">Any</option>
            <option value="chinese">Chinese</option>
            <option value="western">Western</option>
            <option value="hainanese">Hainanese</option>
        </select>
        <br> 
    </div>
    <div class="row">
        <br>
        <h5>Meal Type</h5>
        <select id="meal_type" name="meal_type">
            <option value="">Any</option> 
            <option value="breakfast">Breakfast</option> 
            <option value="maincourse">Main Course</option> 
            <option value="soup">Soup</option> 
            <option value="dessert">Dessert</option> 
            <option value="festive">Festive</option> 
        </select>
    </div>
    <input type="submit" value="Search" class="btn btn-primary mt-3"/>
</form>

{%endblock%}