{% extends 'base.template.html' %}

{%block content%}
<div>
	<form method="POST">
		<div class="alert alert-danger">
			<p>Are you sure you want to delete this recipe - {{recipe.name}}?</p>
            <div>
                <label class="form-label">Type the original Contributor Email to confirm the deletion:</label>
                <input type="text" class="form-control" name="email"/>

                <input type="submit" value="Confirm" class="btn btn-danger button-font"/>

                <a href="{{url_for('show_recipes') }}" class="btn btn-success button-font">Cancel delete</a>
            </div>
		</div>
	</form>
</div>
{%endblock%}